@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.details {
  background: rgba(177, 177, 177, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 12px 0 0 12px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details__day {
  font-size: 25px;
}

.details__date {
  font-weight: 300;
}

.details__degree {
  font-size: 70px;
}

.details__spec {
  font-size: 22px;
  width: 236px;
}

.forecast {
  color: rgba(255, 255, 255, 0.8);
  height: inherit;
  width: 60%;
  padding: 20px 27px;
  background: rgba(177, 177, 177, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0 12px 12px 0;
}

.forecast__details {
  height: 231px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__first ul {
  height: 14vh;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 12px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__first li {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__precip {
  text-transform: initial;
}

.forecast__sec ul {
  font-size: 12px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__sec li {
  height: 110px;
  width: 55px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast__form {
  border-bottom: 1.5px solid rgba(253, 253, 253, 0.2);
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast__submit {
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
}

.forecast__input {
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  outline: none;
  padding: 10px 24px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

.weather {
  height: 70%;
  width: 60%;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-image: url("../back-night.gif");
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */